Recipes-Sales.json
{
  "name": "Recipes-Sales",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Manejar diferentes formatos de entrada\nlet payload;\nlet input = $('WhatsApp').first().json\n// Si es un array y tiene elementos\nif (Array.isArray(input) && input.length > 0) {\n  payload = input[0];\n} \n// Si es un objeto directamente\nelse if (input && typeof input === 'object') {\n  payload = input;\n} \n// Si no hay datos válidos\nelse {\n  payload = {};\n}\n\n// Ahora navegamos por la estructura de manera segura\nconst body = payload.body || {};\nconst data = body.data || payload.data || {}; // También buscar data directamente\nconst msg = data.message || payload.message || {}; // También buscar message directamente\nconst key = data.key || payload.key || {}; // También buscar key directamente\n\nconst message = {\n  event: body.event || payload.event || '',\n  chat_id: key.participant || key.remoteJid || '',\n  is_from_me: key.fromMe || false,\n  sender_name: data.pushName || payload.pushName || '',\n  timestamp: data.messageTimestamp || payload.messageTimestamp\n    ? new Date((data.messageTimestamp || payload.messageTimestamp) * 1000).toISOString()\n    : '',\n  content: {\n    exists: false,\n    message_type: 'unknown'\n  }\n};\n\n// -------- TEXTO --------\nif (msg.conversation || msg.extendedTextMessage) {\n  message.content = {\n    exists: true,\n    message_type: 'text',\n    id: key.id || '',\n    text: msg.conversation || msg.extendedTextMessage?.text || ''\n  };\n}\n\n// -------- AUDIO --------\nif (msg.audioMessage) {\n  message.content = {\n    exists: true,\n    message_type: 'audio',\n    id: key.id || '',\n    mimetype: msg.audioMessage.mimetype || '',\n    url: msg.audioMessage.url || '',\n    seconds: msg.audioMessage.seconds || 0,\n    ptt: msg.audioMessage.ptt || false // true si es nota de voz\n  };\n}\n\n// -------- IMAGEN --------\nif (msg.imageMessage) {\n  // Verificar si tiene caption (texto adjunto)\n  const hasCaption = msg.imageMessage.caption && msg.imageMessage.caption.length > 0;\n  \n  message.content = {\n    exists: true,\n    message_type: 'image',\n    id: key.id || '',\n    mimetype: msg.imageMessage.mimetype || '',\n    url: msg.imageMessage.url || '',\n    caption: msg.imageMessage.caption || '',\n    width: msg.imageMessage.width || 0,\n    height: msg.imageMessage.height || 0,\n    text: msg.imageMessage.caption || '' // Para compatibilidad\n  };\n  \n  // Si tiene caption, también consideramos que hay texto\n  if (hasCaption) {\n    message.content.has_text = true;\n  }\n}\n\n// -------- VIDEO --------\nif (msg.videoMessage) {\n  message.content = {\n    exists: true,\n    message_type: 'video',\n    id: key.id || '',\n    mimetype: msg.videoMessage.mimetype || '',\n    url: msg.videoMessage.url || '',\n    caption: msg.videoMessage.caption || '',\n    text: msg.videoMessage.caption || ''\n  };\n}\n\n// -------- DOCUMENTO --------\nif (msg.documentMessage) {\n  message.content = {\n    exists: true,\n    message_type: 'document',\n    id: key.id || '',\n    mimetype: msg.documentMessage.mimetype || '',\n    url: msg.documentMessage.url || '',\n    filename: msg.documentMessage.fileName || ''\n  };\n}\n\n// Para depuración: log de qué tipo de mensaje se detectó\nconsole.log('Tipo de mensaje detectado:', message.content.message_type);\n\nreturn [\n  {\n    json: {\n      message,\n      // Incluir el payload completo para depuración si es necesario\n      _debug: {\n        has_payload: !!payload,\n        payload_keys: Object.keys(payload),\n        body_keys: Object.keys(body)\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3232,
        -688
      ],
      "id": "80f986ab-8291-4799-97cb-bcf00dee6042",
      "name": "normalized"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.message.chat_id }}",
        "messageData": "={{ $json.message.toJsonString() }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3008,
        -688
      ],
      "id": "8da02d90-3295-4d1a-bfb9-feac68250ea0",
      "name": "write current message",
      "credentials": {
        "redis": {
          "id": "pxMv28NaguDz5dTi",
          "name": "Redis docconmigo"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $json.message.chat_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2560,
        -688
      ],
      "id": "1e84a236-f2c8-4adc-b15e-1db1214b0c2c",
      "name": "read all messages",
      "credentials": {
        "redis": {
          "id": "pxMv28NaguDz5dTi",
          "name": "Redis docconmigo"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2784,
        -688
      ],
      "id": "3571d4f6-b177-4e94-bf30-d34bfb1e7eee",
      "name": "wait",
      "webhookId": "0b4ef5dc-e135-4570-8520-2e2546901562"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('normalized').item.json.message.chat_id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2112,
        -688
      ],
      "id": "de284dc4-f3bd-47dc-878f-307c8b682e67",
      "name": "delete tail",
      "credentials": {
        "redis": {
          "id": "pxMv28NaguDz5dTi",
          "name": "Redis docconmigo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = [];\n\nconst messages = $json.message || [];\n\nfor (const raw of messages) {\n  try {\n    const parsed = JSON.parse(raw);\n    items.push({\n      json: {\n        message: parsed\n      }\n    });\n  } catch (e) {\n    // opcional: log o descartar mensajes corruptos\n  }\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1888,
        -688
      ],
      "id": "06576cb2-ffc7-4680-9ece-d3f90575edfe",
      "name": "SplitOut & Parse"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.content.message_type }}",
                    "rightValue": "=text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9995df17-d35a-40f0-ba55-28f035be7f77"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "897ca1cd-b99b-49ee-8a0b-bb9e4296061e",
                    "leftValue": "={{ $json.message.content.message_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "edcf7057-0aaf-48af-b1ba-28d12541ddb5",
                    "leftValue": "={{ $json.message.content.message_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1664,
        -704
      ],
      "id": "5c6c3f96-d55e-4477-8615-070d4c8e1eb0",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b980d4b-26ab-4f6c-a703-e2798b051af8",
              "name": "ai_input.text",
              "value": "={{ $json.message.content.text }}",
              "type": "string"
            },
            {
              "id": "a745fe0d-37c1-4d8c-8be3-9a8c42f630c1",
              "name": "ai_input.timestamp",
              "value": "={{ $json.message.timestamp }}",
              "type": "string"
            },
            {
              "id": "e9036f07-0b21-4a63-900f-76a13e3393df",
              "name": "ai_input.chat_id",
              "value": "={{ $('Switch').item.json.message.chat_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -768,
        -880
      ],
      "id": "76097ede-a6db-4c33-aaab-5dde6ba7b57e",
      "name": "text input"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -992,
        -688
      ],
      "id": "ab4f2536-4a46-41d5-9b14-aa40c7a66a60",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "eaR82imfRStkWNpc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -544,
        -728
      ],
      "id": "148af603-b995-43d9-8f3e-f73fe8404e22",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "37d7201c-9b3c-49e7-a658-72b481c6ed2d",
              "leftValue": "={{ $json.message.last().parseJson().content.id}}",
              "rightValue": "={{ $('normalized').item.json.message.content.id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2336,
        -688
      ],
      "id": "d88902ef-64e6-44a5-be37-1822a3e9fad3",
      "name": "If equal to last message"
    },
    {
      "parameters": {
        "jsCode": "const result = items\n  // filtrar items válidos\n  .filter(item => item.json?.ai_input?.text)\n  // ordenar por timestamp ascendente\n  .sort((a, b) => {\n    const t1 = new Date(a.json.ai_input.timestamp).getTime();\n    const t2 = new Date(b.json.ai_input.timestamp).getTime();\n    return t1 - t2;\n  })\n  // reducir a un solo string\n  .reduce((acc, item) => {\n    const text = item.json.ai_input.text.trim();\n    return acc ? `${acc}\\n${text}` : text;\n  }, '');\n\nreturn [\n  {\n    json: {\n      ai_input: {\n        text: result,\n        chat_id: $input.last().json.ai_input.chat_id\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -712
      ],
      "id": "80298244-4737-4ab8-89ae-7bbd46dfaba9",
      "name": "Sort & Reduce to one String"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b980d4b-26ab-4f6c-a703-e2798b051af8",
              "name": "ai_input.text",
              "value": "={{ $json['0'].content[0].text }}",
              "type": "string"
            },
            {
              "id": "a745fe0d-37c1-4d8c-8be3-9a8c42f630c1",
              "name": "ai_input.timestamp",
              "value": "={{ $('Switch').item.json.message.timestamp }}",
              "type": "string"
            },
            {
              "id": "d7bfa5a5-d2c9-45bd-9f27-cce0fd01e2c4",
              "name": "ai_input.chat_id",
              "value": "={{ $('Switch').item.json.message.chat_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -768,
        -496
      ],
      "id": "8b769d3f-5e65-4558-aa5c-5ba5af655ce0",
      "name": "image text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b980d4b-26ab-4f6c-a703-e2798b051af8",
              "name": "ai_input.text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "a745fe0d-37c1-4d8c-8be3-9a8c42f630c1",
              "name": "ai_input.timestamp",
              "value": "={{ $('Switch').item.json.message.timestamp }}",
              "type": "string"
            },
            {
              "id": "e18d8255-8527-4d02-bf3d-da66cd12859f",
              "name": "ai_input.chat_id",
              "value": "={{ $('Switch').item.json.message.chat_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -768,
        -688
      ],
      "id": "16fe7262-99c2-4bba-a6a9-eeb452230dd2",
      "name": "audio text"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "docconmigo",
        "messageId": "={{ $json.message.content.id }}"
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        -1440,
        -688
      ],
      "id": "325b4031-710b-42be-bcb3-c8f3c864464e",
      "name": "Get base64 audio",
      "credentials": {
        "evolutionApi": {
          "id": "MTfRdIBnvLQio1rU",
          "name": "docconmigo"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "mimeType": "={{ $('Switch').item.json.message.content.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1216,
        -496
      ],
      "id": "0573ec8c-34c1-4311-af90-b6741e1d9d29",
      "name": "to image file"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Dime lo que contiene la imagen en una cadena de texto simple",
        "inputType": "base64",
        "options": {
          "detail": "auto"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -992,
        -496
      ],
      "id": "b00b1591-547c-425a-b1f3-d420e94a8d97",
      "name": "describe image",
      "credentials": {
        "openAiApi": {
          "id": "eaR82imfRStkWNpc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "docconmigo",
        "messageId": "={{ $json.message.content.id }}"
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        -1440,
        -496
      ],
      "id": "ff13c941-d5b1-4d7e-aaef-c550c1945dc4",
      "name": "Get base64 image",
      "credentials": {
        "evolutionApi": {
          "id": "MTfRdIBnvLQio1rU",
          "name": "docconmigo"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "mimeType": "={{ $('Switch').item.json.message.content.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1216,
        -688
      ],
      "id": "c72e922d-db9b-44bc-a53f-1025c28c4c10",
      "name": "to audio file"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7a179963-6894-4f1b-ba37-849137a7859b",
              "name": "chat_id",
              "value": "={{ $('Sort & Reduce to one String').item.json.ai_input.chat_id }}",
              "type": "string"
            },
            {
              "id": "dffd0971-ff1b-4285-a21e-5dcddc328cbe",
              "name": "channel",
              "value": "WhatsApp",
              "type": "string"
            },
            {
              "id": "2d4f2f19-525c-4708-a6d6-a5f50e6640e4",
              "name": "text",
              "value": "={{ $('Sort & Reduce to one String').item.json.ai_input.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        -712
      ],
      "id": "d18aea4f-7c1d-4889-bd92-98e58485ce37",
      "name": "User message"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3a24bb33-8325-4bc0-aa29-d31df288ca56",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3456,
        -688
      ],
      "id": "f0899445-0715-42c9-be24-c9c349d03657",
      "name": "WhatsApp",
      "webhookId": "3a24bb33-8325-4bc0-aa29-d31df288ca56"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensaje del cliente: \"{{ $('User message').item.json.text }}\"",
        "options": {
          "systemMessage": "=You are a helpful assistant# ROL\nEres un agente de asistencia al cliente que guía a los usuarios en el proceso de compra de un canal privado de recetas saludables por WhatsApp.\n\nTu único objetivo es cerrar la venta siguiendo estrictamente el flujo.\n\nNo improvises.\nNo hagas preguntas innecesarias.\nNo confirmes dos veces.\n\n--------------------------------------------------\n# REGLA OBLIGATORIA DE EJECUCIÓN\n\nANTES de generar cualquier respuesta:\n\n1. Usa la herramienta \"Get Order Status\".\n2. Si no existe estado, usa \"Set Order Status\" y asigna: onboarding.\n\nNUNCA respondas sin consultar el estado primero.\n\n--------------------------------------------------\n# BASE DE INFORMACIÓN DEL PRODUCTO\n\nUsa esta información para responder preguntas cuando el estado sea `pending`.\n\n## SOBRE EL GRUPO\n- Es un grupo privado de WhatsApp.\n- Se envían recetas todos los días.\n- Incluye desayuno, almuerzo y cena.\n- Enfoque en reducción de grasa y salud hormonal.\n- Sin gluten y sin azúcar.\n- No se cuentan calorías.\n- El acceso es inmediato al verificar el pago.\n- El pago se verifica automáticamente y le enviamos un mensaje\n- El valor es $30.000 pesos.\n\n## MÉTODOS DE PAGO\n- Tarjeta crédito\n- Tarjeta débito\n- Nequi\n- Daviplata\n\nEl enlace oficial de pago es:\nhttps://pago.docconmigo.com/recetas\n\n--------------------------------------------------\n\n# ESTADOS DEL FLUJO\n- onboarding\n- auth_to_send_payment_link\n- pending\n- paid\n\n--------------------------------------------------\n\n# FLUJO DE CONVERSACIÓN\n\n## 1️⃣ Si al leer \"Get Order Status\" el estado es: onboarding\n\n- Envía EXACTAMENTE:\n\n¿Te ha pasado que quieres comer más saludable… pero *no sabes qué preparar* y terminas comiendo lo mismo?\n---\nNo es falta de disciplina, muchas veces solo necesitas una guía clara.\n---\n*Soy médico funcional y Máster en Nutrición de Precisión,* y reuní toda mi experiencia en un grupo privado de WhatsApp donde ya más de *3.000 personas están mejorando su alimentación* de forma sencilla y práctica.\n---\nRecibes a diario recetas...\n🍳 Desayuno, almuerzo y cena\n🚫 Sin gluten, sin azúcar\n🔥 Reducción de grasa y salud hormonal\n✅ Sin contar calorías ni pasar hambre\n---\n💸 Hoy recibes acceso a toda mi experiencia médica y nutricional por sólo $30.000 pesos. \n---\n*Un sólo pago de por vida* 🤩\n\n- Devuelve el JSON con status: \"onboarding\"\n\nNO agregues preguntas.\nNO agregues texto adicional.\n\n--------------------------------------------------\n\n## 2️⃣ Si al leer \"Get Order Status\" el estado es: auth_to_send_payment_link\n\n### REGLAS CRÍTICAS\n\n- NO hagas preguntas.\n- NO confirmes nuevamente.\n- NO repitas el mensaje inicial.\n- NO pidas validación adicional.\n- Evalúa intención en el orden exacto definido abajo.\n- La palabra \"si\" sola es confirmación absoluta.\n- La palabra \"no\" sola es rechazo absoluto.\n\n--------------------------------------------------\n\n### PASO 1: EVALUAR NEGATIVO (PRIORIDAD MÁXIMA)\n\nSi el mensaje del usuario contiene:\n\n\"no\"\n\"no gracias\"\n\"no me interesa\"\n\"ahora no\"\n\"después\"\n\"tal vez no\"\n\"no quiero\"\n\n→ INTERPRÉTALO COMO RECHAZO.\n\nAcción:\nResponde amablemente:\n\nEntiendo 😊  \nSi en algún momento deseas mejorar tu alimentación con nuestras recetas saludables, estaré aquí para ayudarte.  \n\nQue tengas un excelente día ✨\n\nDevuelve JSON con status: \"auth_to_send_payment_link\"\n\nFINALIZA.\n\nNO continúes evaluando afirmativo.\n\n--------------------------------------------------\n\n### PASO 2: EVALUAR AFIRMATIVO\n\nSi NO fue negativo, y el mensaje contiene:\n\n\"si\"\n\"sí\"\n\"ok\"\n\"dale\"\n\"quiero\"\n\"me interesa\"\n\"listo\"\n\"de una\"\n\"claro\"\n\"perfecto\"\n\n→ INTERPRÉTALO COMO CONFIRMACIÓN DE COMPRA.\n\nAcción:\nEnvía INMEDIATAMENTE:\n\n💳 Ya puedes realizar tu pago de forma rápida y segura aquí:\n\n👉 https://pago.docconmigo.com/recetas\n\nUna vez confirmado, te enviamos acceso inmediato a tus recetas saludables 🥗✨\n\nRecuerda en los datos de pago, colocar *este mismo número de teléfono* para la verificación 😊\n\nDevuelve JSON con status: \"pending\"\n\nNO hagas preguntas.\nNO agregues texto adicional.\n\n--------------------------------------------------\n\n### PASO 3: SI NO ES NEGATIVO NI AFIRMATIVO\n\nSi el mensaje es una pregunta o comentario:\n\nResponde brevemente resolviendo la duda.\nLuego invita a completar el pago.\n\nMantén status: \"auth_to_send_payment_link\"\n\n--------------------------------------------------\n\n## 3️⃣ Si al leer \"Get Order Status\" el estado es: pending\n\n- Primero analiza el mensaje del usuario.\n\n- Responde amablemente de acuerdo a esta información en la \"BASE DE INFORMACIÓN DEL PRODUCTO\"\n\n- Usa emoticones\n\n- Que sepa que estamos a la espera de la verificaion del pago y le haremos saber tan pronto verifiquemos\n\n- No des toda la información a la vez responde lo que te pregunten y en un mensaje corto.\n\n- Devuelve JSON con status: \"pending\"\n\n## 4️⃣ Si al leer \"Get Order Status\" el estado es: paid\n\nEste estado indica que el pago ya fue confirmado externamente.\n\nEl proceso de compra ya fue completado.\nEl canal de venta queda inactivo para este usuario.\n\n### REGLAS:\n\n- NO envíes nuevamente el link de pago.\n- NO vuelvas al flujo de venta.\n- NO cambies el estado.\n- NO hagas preguntas de cierre.\n- NO reinicies onboarding.\n- NO intentes vender nuevamente.\n\n### Responde EXACTAMENTE:\n\nEl proceso de compra ha finalizado y tu acceso ya fue gestionado 📲✨  \nEste canal de compra queda ahora inactivo.\n\nGracias por tu compra!! 😊\n\nDevuelve JSON con status: \"paid\"\n\n--------------------------------------------------\n--------------------------------------------------\n\n# HERRAMIENTAS\n- \"Set Order Status\": Guarda o Actualiza en estado en Postgres\n- \"Get Order Status\": Recupera el estado actual en Postgres\n\n# FORMATO DE RESPUESTA OBLIGATORIO\n\nSIEMPRE responde únicamente con este JSON:\n\n{\n  \"message\": {\n    \"status\": \"onboarding | auth_to_send_payment_link | pending | paid\",\n    \"content\": \"Texto del mensaje aquí\"\n  }\n}\n\nPROHIBIDO:\n- Texto fuera del JSON\n- Preguntas en estado auth_to_send_payment_link si ya hay afirmación\n- Confirmar dos veces\n- Repetir onboarding\n\n# RECORDATORIOS:\n- Usa las herramientas a disposición para guardar, actualizar y leer los estados correctamente en Postgres"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        248,
        -712
      ],
      "id": "71f91fa9-cbf3-49d8-baea-7f4916465e4a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1612,
        -712
      ],
      "id": "5139012b-30a0-44bd-801c-4ab14d5fa08c",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "docconmigo",
        "remoteJid": "={{ $('User message').item.json.chat_id }}",
        "messageText": "={{ $json.text }}",
        "options_message": {
          "delay": "={{ Math.round(($json.text.length * 0.01) * 1000) }}"
        }
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        1836,
        -688
      ],
      "id": "5a9bf4e5-8ee7-477a-ac0f-9978e037e2d2",
      "name": "Send answer1",
      "credentials": {
        "evolutionApi": {
          "id": "MTfRdIBnvLQio1rU",
          "name": "docconmigo"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Parse answer').item.json.message.content }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Divide el siguiente mensaje en partes para enviar por WhatsApp.\n\nMensaje:\n{{ $('Parse answer').item.json.message.content ? $('Parse answer').item.json.message.content : '' }}\n\n## Reglas ESTRICTAS:\n1. Separa los mensajes donde tengan doble salto de línea"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        944,
        -712
      ],
      "id": "c0c9b802-c165-40d6-b1c6-ed6b14a849f1",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"part1\": {\n      \"type\": \"string\",\n      \"description\": \"Primera parte del mensaje. OBLIGATORIA. Si el mensaje es corto, pon todo el contenido aquí.\"\n    },\n    \"part2\": {\n      \"type\": \"string\",\n      \"description\": \"Segunda parte del mensaje. SOLO si el mensaje es lo suficientemente largo para justificar una división. Si no es necesario, NO incluyas este campo.\"\n    },\n    \"part3\": {\n      \"type\": \"string\",\n      \"description\": \"Tercera parte del mensaje. SOLO si el mensaje es muy largo y requiere tres partes. Si no es necesario, NO incluyas este campo.\"\n    },\n    \"part4\": {\n      \"type\": \"string\",\n      \"description\": \"Cuarta parte del mensaje. SOLO si el mensaje requiere cuatro partes. Si no es necesario, NO incluyas este campo.\"\n    },\n    \"part5\": {\n      \"type\": \"string\",\n      \"description\": \"Quinta parte del mensaje. SOLO si el mensaje requiere cinco partes. Si no es necesario, NO incluyas este campo.\"\n    },\n    \"part6\": {\n      \"type\": \"string\",\n      \"description\": \"Sexta parte del mensaje. SOLO si el mensaje requiere seis partes. Si no es necesario, NO incluyas este campo.\"\n    },\n    \"part7\": {\n      \"type\": \"string\",\n      \"description\": \"Séptima parte del mensaje. SOLO si el mensaje requiere siete partes. Si no es necesario, NO incluyas este campo.\"\n    },\n    \"part8\": {\n      \"type\": \"string\",\n      \"description\": \"Octava parte del mensaje. SOLO si el mensaje requiere ocho partes. Si no es necesario, NO incluyas este campo.\"\n    }\n  },\n  \"required\": [\"part1\"],\n  \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1020,
        -488
      ],
      "id": "c8621256-668d-453d-bc35-16f084ebb8be",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1836,
        -880
      ],
      "id": "c2bdc81d-721e-4b38-a325-5ac5540722ca",
      "name": "Aggregate1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2636,
        -1072
      ],
      "id": "43db3ece-d323-483f-8484-2c66bd4ca3ff",
      "name": "Wait2",
      "webhookId": "da0de8bc-9f91-4f16-810b-86a2592ce512"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-image",
        "instanceName": "docconmigo",
        "remoteJid": "={{ $('User message').item.json.chat_id }}",
        "media": "https://supabase.docconmigo.com/storage/v1/object/public/recipes-sales//product%20glimpse.png",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        2348,
        -1072
      ],
      "id": "2ae57374-9e65-4715-b568-11f2698967ea",
      "name": "Send image",
      "credentials": {
        "evolutionApi": {
          "id": "MTfRdIBnvLQio1rU",
          "name": "docconmigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-audio",
        "instanceName": "docconmigo",
        "remoteJid": "={{ $('User message').item.json.chat_id }}",
        "media": "https://supabase.docconmigo.com/storage/v1/object/public/gary1213//audio_recetas.mp3",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        2860,
        -1072
      ],
      "id": "a3e70df5-49d9-4db0-acfc-9bbcda558a8c",
      "name": "Send audio1",
      "credentials": {
        "evolutionApi": {
          "id": "MTfRdIBnvLQio1rU",
          "name": "docconmigo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json.output;\n\nconst newItems = [];\n\nfor (const key in data) {\n  if (data[key]) {\n    newItems.push({\n      json: {\n        text: data[key]\n      }\n    });\n  }\n}\n\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1388,
        -712
      ],
      "id": "c08a9a2f-3091-4411-892e-c0daf6ff104d",
      "name": "Split answer"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output;\n\n// Extraer el JSON de dentro del bloque ```json ... ```\nconst jsonString = raw.replace(/```json\\n?/, '').replace(/\\n?```/, '').trim();\n\nconst parsed = JSON.parse(jsonString);\n\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -712
      ],
      "id": "f654e1ab-0227-40c3-9f91-5bf286815b3b",
      "name": "Parse answer"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "orders",
          "mode": "list",
          "cachedResultName": "orders"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "customer_phone": "={{$('User message').item.json.chat_id.replace(\"@s.whatsapp.net\", \"\")}}",
            "id": "={{$('User message').item.json.chat_id.replace(\"@s.whatsapp.net\", \"\")}}",
            "status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('status', ``, 'string') }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_phone",
              "displayName": "customer_phone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "customer_email",
              "displayName": "customer_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "payment_finalized_at",
              "displayName": "payment_finalized_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        384,
        -488
      ],
      "id": "66c5900c-00aa-491a-940e-346f5468e525",
      "name": "Set Order Status",
      "credentials": {
        "postgres": {
          "id": "nQ1hEsVJOCSLTyZ1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "amount": 6
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2060,
        -616
      ],
      "id": "18aeae2b-7e20-4235-8d59-1a1151b9f400",
      "name": "Wait1",
      "webhookId": "4e29808f-91f3-4099-a24d-4ed7fefcdd46"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "orders",
          "mode": "list",
          "cachedResultName": "orders"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{$('User message').item.json.chat_id.replace(\"@s.whatsapp.net\", \"\")}}"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "status"
          ]
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        512,
        -488
      ],
      "id": "1d389a20-e1b0-4c70-bf0b-4189a8f33c81",
      "name": "Get Order Status",
      "credentials": {
        "postgres": {
          "id": "nQ1hEsVJOCSLTyZ1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('User message').item.json.chat_id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        256,
        -488
      ],
      "id": "e8ef219b-3757-4ac5-ba1b-ec2702b6578a",
      "name": "Memory",
      "credentials": {
        "postgres": {
          "id": "nQ1hEsVJOCSLTyZ1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        128,
        -488
      ],
      "id": "30637b14-d827-412c-a37e-a3bb0b21eee3",
      "name": "Model",
      "credentials": {
        "openAiApi": {
          "id": "eaR82imfRStkWNpc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1016,
        -280
      ],
      "id": "ccc06adb-91b0-4722-b479-8e4369fa7e7e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "eaR82imfRStkWNpc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wompi-recetas",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3456,
        -1296
      ],
      "id": "d969b366-ba4b-4bf8-8d0d-45ea08865cc4",
      "name": "Wompi",
      "webhookId": "a832b00a-94c9-4dcf-809e-4a4df74755d9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17d87d4e-b270-4d57-8e3c-6d337cddbcd7",
              "name": "transaction.payment.finalized_at",
              "value": "={{ $('Wompi').first().json.body.data.transaction.finalized_at }}",
              "type": "string"
            },
            {
              "id": "9c50d632-54c3-47ca-a8a0-0867a4f21cae",
              "name": "transaction.customer_data.customer_email",
              "value": "={{ $('Wompi').first().json.body.data.transaction.customer_email }}",
              "type": "string"
            },
            {
              "id": "f8d6d87a-0b79-4a8e-8662-ae5e4504f798",
              "name": "transaction.payment.amount_in_cents",
              "value": "={{ $('Wompi').first().json.body.data.transaction.amount_in_cents }}",
              "type": "number"
            },
            {
              "id": "c677785c-d193-4ceb-8d45-0465272b39bd",
              "name": "transaction.payment.status",
              "value": "={{ $('Wompi').first().json.body.data.transaction.payment_method.extra.three_ds_auth.current_step_status }}{{ $('Wompi').first().json.body.data.transaction.status }}",
              "type": "string"
            },
            {
              "id": "183dd37c-19c9-4180-800c-82bb69119f6d",
              "name": "transaction.payment.id",
              "value": "={{ $('Wompi').first().json.body.data.transaction.id }}",
              "type": "string"
            },
            {
              "id": "faf176db-8731-4881-8bf4-eafea2109c11",
              "name": "transaction.customer_data.full_name",
              "value": "={{ $('Wompi').first().json.body.data.transaction.customer_data.full_name }}",
              "type": "string"
            },
            {
              "id": "1545f76a-e459-435f-bdc2-9048c90e2a19",
              "name": "transaction.customer_data.phone_number",
              "value": "={{ $('Wompi').first().json.body.data.transaction.customer_data.phone_number }}",
              "type": "string"
            },
            {
              "id": "ced5b9d0-9079-44c8-9cfb-5a66ea21ee56",
              "name": "transaction.payment.payment_method",
              "value": "={{ $json.body.data.transaction.payment_method.type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3232,
        -1296
      ],
      "id": "dbf08556-af41-4623-84e4-a63145501451",
      "name": "Payment Info"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "05bb948e-4d1f-40c4-a881-fd605d4e0c85",
              "leftValue": "={{ $('Payment Info').item.json.transaction.customer_data.phone_number.replace('+', '') }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2784,
        -1296
      ],
      "id": "bee56fe7-38aa-4ae0-af68-e7946f397e25",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2112,
        -1296
      ],
      "id": "7fd7d916-7ff0-4efc-bb79-4216068e8a2a",
      "name": "Wait",
      "webhookId": "45515287-5d8b-430e-a631-4e34881ac3b0"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "docconmigo",
        "remoteJid": "={{ $('Payment Info').item.json.transaction.customer_data.phone_number.replace('+', '') }}@s.whatsapp.net",
        "messageText": "={{ $('Thankyou Msg').item.json.text }}",
        "options_message": {
          "delay": "={{ Math.round(($('Thankyou Msg').item.json.text.length * 0.01) * 1000) }}"
        }
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        -2336,
        -1296
      ],
      "id": "8550b5cd-83cb-4078-b290-e32a2f5c0733",
      "name": "Send answer",
      "credentials": {
        "evolutionApi": {
          "id": "MTfRdIBnvLQio1rU",
          "name": "docconmigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "docconmigo",
        "remoteJid": "={{ $('Payment Info').item.json.transaction.customer_data.phone_number.replace('+', '') }}@s.whatsapp.net",
        "messageText": "={{ $('Channel Link').item.json.link }}",
        "options_message": {
          "delay": "={{ Math.round(($('Channel Link').item.json.link.length * 0.01) * 1000) }}"
        }
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        -1888,
        -1296
      ],
      "id": "1cc26bf1-c698-45fd-8321-0c77bd172fb4",
      "name": "Send answer2",
      "credentials": {
        "evolutionApi": {
          "id": "MTfRdIBnvLQio1rU",
          "name": "docconmigo"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "orders",
          "mode": "list",
          "cachedResultName": "orders"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Payment Info').item.json.transaction.customer_data.phone_number.replace('+', '') }}",
            "status": "paid",
            "customer_phone": "={{ $('Payment Info').item.json.transaction.customer_data.phone_number.replace('+', '') }}",
            "customer_name": "={{ $('Payment Info').item.json.transaction.customer_data.full_name }}",
            "customer_email": "={{ $('Payment Info').item.json.transaction.customer_data.customer_email }}",
            "payment_finalized_at": "={{ $('Payment Info').item.json.transaction.payment.finalized_at }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customer_phone",
              "displayName": "customer_phone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "customer_email",
              "displayName": "customer_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "payment_finalized_at",
              "displayName": "payment_finalized_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1216,
        -1296
      ],
      "id": "b52cbf80-63da-4078-a14e-3b66e7f10953",
      "name": "Insert or update rows in a table1",
      "credentials": {
        "postgres": {
          "id": "nQ1hEsVJOCSLTyZ1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse answer').item.json.message.status }}",
                    "rightValue": "onboarding",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "63479e84-ea4c-4d35-a9dc-7a3c5e550a01"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "onboarding"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3aee30ea-ac3b-42cf-89ba-34daee888719",
                    "leftValue": "={{ $('Parse answer').item.json.message.status }}",
                    "rightValue": "auth_to_send_payment_link",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "auth_payment"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2060,
        -880
      ],
      "id": "8d6d4a47-8fcc-4069-a17d-0d176c82819e",
      "name": "Switch1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1440,
        -880
      ],
      "id": "a0b0210f-7769-4e68-b237-5f58b9ab2263",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3d777d72-1536-4f20-a3c2-0dc018536883",
              "name": "text",
              "value": "=\n¡Hola Lucía Margarita Cortez Suarez!  \nMuchas gracias por tu pago a través de {{ $('Payment Info').item.json.transaction.payment.payment_method }} 😊💚.  \n¡Valoramos mucho tu confianza y preferencia! 🙌✨  \n¡Que tengas un excelente día y disfruta el grupo! ☀️🌟",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2560,
        -1296
      ],
      "id": "b0a93d0c-59c8-42b7-92ab-853b7a267aec",
      "name": "Thankyou Msg"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-image",
        "instanceName": "docconmigo",
        "remoteJid": "={{ $('Payment Info').item.json.transaction.customer_data.phone_number.replace('+', '') }}@s.whatsapp.net",
        "media": "https://supabase.docconmigo.com/storage/v1/object/public/recipes-sales//warning_msg.png",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        -1440,
        -1296
      ],
      "id": "a99892b0-2931-4e19-86a3-c32e5f73c019",
      "name": "Send warning",
      "credentials": {
        "evolutionApi": {
          "id": "MTfRdIBnvLQio1rU",
          "name": "docconmigo"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1664,
        -1296
      ],
      "id": "7776176b-962a-4f58-963e-cab0f7696a44",
      "name": "Wait3",
      "webhookId": "45515287-5d8b-430e-a631-4e34881ac3b0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ad2413f-a0fd-40c2-9f43-9319fffb721f",
              "name": "link",
              "value": "https://whatsapp.com/channel/0029VaZ9THlLI8YcnFL8e82Y",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3008,
        -1296
      ],
      "id": "acc23022-d7f2-4ee6-a718-89d34cdd6367",
      "name": "Channel Link"
    },
    {
      "parameters": {
        "inputText": "={{ $('User message').item.json.text }}",
        "categories": {
          "categories": [
            {
              "category": "positive",
              "description": "Si el mensaje contiene:  \"si\" \"sí\" \"ok\" \"dale\" \"quiero\" \"me interesa\" \"listo\" \"de una\" \"claro\" \"perfecto\""
            },
            {
              "category": "negative",
              "description": "Si el mensaje del usuario contiene:  \"no\" \"no gracias\" \"no me interesa\" \"ahora no\" \"después\" \"tal vez no\" \"no quiero\", o similares"
            }
          ]
        },
        "options": {
          "enableAutoFixing": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        2284,
        -732
      ],
      "id": "52b540b4-aa22-4b8d-9400-a8e053d8625e",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2356,
        -508
      ],
      "id": "f3a2dcff-e129-420d-8800-d5e4ed95436c",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "eaR82imfRStkWNpc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "orders",
          "mode": "list",
          "cachedResultName": "orders"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{$('User message').item.json.chat_id.replace(\"@s.whatsapp.net\", \"\")}}",
            "status": "onboarding",
            "customer_phone": "={{$('User message').item.json.chat_id.replace(\"@s.whatsapp.net\", \"\")}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customer_phone",
              "displayName": "customer_phone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "customer_email",
              "displayName": "customer_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "payment_finalized_at",
              "displayName": "payment_finalized_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2636,
        -636
      ],
      "id": "7474a3b0-4e12-420c-a82c-a0228a165173",
      "name": "Set Status to Onboarding",
      "credentials": {
        "postgres": {
          "id": "nQ1hEsVJOCSLTyZ1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "orders",
          "mode": "list",
          "cachedResultName": "orders"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{$('User message').item.json.chat_id.replace(\"@s.whatsapp.net\", \"\")}}",
            "status": "pending",
            "customer_phone": "={{$('User message').item.json.chat_id.replace(\"@s.whatsapp.net\", \"\")}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customer_phone",
              "displayName": "customer_phone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "customer_email",
              "displayName": "customer_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "payment_finalized_at",
              "displayName": "payment_finalized_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2636,
        -828
      ],
      "id": "5d409dcc-2da5-4fd6-a650-eed086d3eca6",
      "name": "Set Status to Pending",
      "credentials": {
        "postgres": {
          "id": "nQ1hEsVJOCSLTyZ1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "orders",
          "mode": "list",
          "cachedResultName": "orders"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{$('User message').item.json.chat_id.replace(\"@s.whatsapp.net\", \"\")}}",
            "status": "auth_to_send_payment_link",
            "customer_phone": "={{$('User message').item.json.chat_id.replace(\"@s.whatsapp.net\", \"\")}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customer_phone",
              "displayName": "customer_phone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "customer_email",
              "displayName": "customer_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "payment_finalized_at",
              "displayName": "payment_finalized_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3084,
        -1072
      ],
      "id": "345694af-fa64-436a-b81c-21baeeafe5b3",
      "name": "Set Status to Auth to Send Link",
      "credentials": {
        "postgres": {
          "id": "nQ1hEsVJOCSLTyZ1",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "Wompi": [
      {
        "json": {
          "headers": {
            "host": "n8n.aigentsdoit.com",
            "user-agent": "Faraday v0.15.4",
            "content-length": "3078",
            "accept": "*/*",
            "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
            "content-type": "application/json",
            "x-event-checksum": "0e35c1ce63f4e79e930846d92150d6633cf1b7edbbd103de4ec944f917021046",
            "x-forwarded-for": "52.72.96.167",
            "x-forwarded-host": "n8n.aigentsdoit.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "f620eb62c9f2",
            "x-real-ip": "52.72.96.167"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "transaction.updated",
            "data": {
              "transaction": {
                "id": "1302141-1772194271-96243",
                "created_at": "2026-02-27T12:11:11.397Z",
                "finalized_at": "2026-02-27T12:16:14.111Z",
                "amount_in_cents": 3000000,
                "reference": "pXnAMZ_1772194215_NQQ4V4bND",
                "customer_email": "gbaldrich16@gmail.com",
                "currency": "COP",
                "payment_method_type": "NEQUI",
                "payment_method": {
                  "type": "NEQUI",
                  "extra": {
                    "is_three_ds": false,
                    "transaction_id": "350-123-13974352-1772194272vlvc",
                    "three_ds_auth_type": null,
                    "external_identifier": "1772194272vlvc",
                    "nequi_transaction_id": "350-123-13974352-1772194272vlvc"
                  },
                  "afe_decision": "FRAUD_CHECK",
                  "phone_number": "3004934732"
                },
                "status": "APPROVED",
                "status_message": null,
                "shipping_address": {
                  "address_line_1": "Tv 54 - 120, Brr. La Carolina, Conj. El Club, To 1 Apto 402",
                  "address_line_2": "Torre 1 402",
                  "country": "CO",
                  "region": "Bolívar",
                  "city": "Cartagena",
                  "phone_number": "+573004934732",
                  "postal_code": "130008"
                },
                "redirect_url": "https://n8n.aigentsdoit.com/webhook/64e6a0d0-b5d8-443d-9d35-d75efaa0d06a",
                "payment_source_id": null,
                "payment_link_id": "pXnAMZ",
                "customer_data": {
                  "device_id": "ccb7697a2bedcba6497671c2f3a2a02b",
                  "full_name": "Gary Baldrich Pinedo",
                  "browser_info": {
                    "browser_tz": "300",
                    "browser_language": "es-US",
                    "browser_user_agent": "Mozilla/5.0 (Linux; Android 10; K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Mobile Safari/537.36",
                    "browser_color_depth": "24",
                    "browser_screen_width": "385",
                    "browser_screen_height": "854"
                  },
                  "phone_number": "+573004934732",
                  "device_data_token": "eyJhbGciOiJIUzI1NiJ9.eyJjb21wcmVzc2VkIjoiZUp4dFUxMXYya0FRL0N2V1BTVVNCR01iWThnVGdUYUpFcW9vSk0xRFZWWHJ1N1Y5d3I1enoyZkloL0xmdThkWFNWb2hXYnFadmIzZG1lR05GZGJXancyYVNZN0tzakdiNjFkWmx0QWJuUG5leWExVTdmTzVOMUhDYUNtOHZuL3UzWng2azdvdThRblRHMmw3ZzNCNEZzYmV5YzNWdy95MjQ1VnlpZDRsOHFVKzlhYUYwUlgyK3RIQW0rdFVsdWd0SUFNamQzZFk1K1BiTTdEQXhtOHNOWHBOR0kyeWJVQjFPK2pYQ2swanRTS0ttcDc1N2tlc2JnallqYmc1SHRlNUFvRXJ5ZkZERVJoZVNJdmN0c1lSajJxcDlGb1JnU3FYeWtIYi9RZ3BRZVV0NUE3RHB2dTRJRWcyMjRYWTJKb1czZmtCMGhKSnZnektaZ1BNc0ZsYVhlK1E5dzZyUzdDWk5oVzEyYWpxZ2FsV1NYK253b1J6ck8zdHYwOHBXTWtjckRaM1J0ZG9yTVJtcWx2bjFDam9zRFdtbDdmZlVRbHRqa2Zld1BjRW84Ry9oUGZrNEQzdDVEN2NuTnpQai9HanEzTW9aZmR5RUhqemFYQmNzaWlBU3U0TWNybVZ1dTkzV0did2Q0dUt2MHdVbEM4YkU2UEU5NG14c3NKWHZSRjJVcUdSSEhvWE90ZmtlSWMxM0NDcUp5bHN3Y1poTXRnalZ5anpnaFpOQnRFZW1wRklWQlFRd0xWZWtoaGZsRk5lN0owb05ZZHlRWEtSaXArb0JoczM2ZjlKU1FzL281aGRmTUlMTUdJTkJxZGE4ZFlZdHhzTnRJL1VIQ3R0Q0tCeHlKdEtiaDVvcGtBYlVwUlpUZkd0blI5SDVGeHlNckxZU2lGUVNYUnh6TFN5bE9JZnJBSFZkRWs0bVhWdElSWDcyV0Z0Z3hOeFFZc3REL0VTK3B1MkR3WWN4TnBEZHV1eXBmQzZQblJ0SlFYcXJ4UTRjSjNmV0ZWSFZGekJTNHBiSDZ1am84N3p3NG15YXJiK2krdUtsTHFDaGlSbkNTU1pMNEkwVGRJNDlFTVIrN0VQQ1dZanZ5OUNMdmpBOTRNMGpFUVd4UmpGQS9xNkQ0LzdRZWdMSHNIaGYzZzlvMjZjcDhONE5JUWdSY0ZUaUtQUk1CNzJlWkNGRUFBMVl1OS9BSlBTaE9nPSJ9.AHhHjseTmnBptmmRFJTEcoYczNaydnkJKiZ-3Av6lvE"
                },
                "billing_data": null,
                "origin": null
              }
            },
            "sent_at": "2026-02-27T12:16:14.621Z",
            "timestamp": 1772194574,
            "signature": {
              "checksum": "0e35c1ce63f4e79e930846d92150d6633cf1b7edbbd103de4ec944f917021046",
              "properties": [
                "transaction.id",
                "transaction.status",
                "transaction.amount_in_cents"
              ]
            },
            "environment": "prod"
          },
          "webhookUrl": "https://n8n.aigentsdoit.com/webhook/wompi-recetas",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "normalized": {
      "main": [
        [
          {
            "node": "write current message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "write current message": {
      "main": [
        [
          {
            "node": "wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read all messages": {
      "main": [
        [
          {
            "node": "If equal to last message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wait": {
      "main": [
        [
          {
            "node": "read all messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete tail": {
      "main": [
        [
          {
            "node": "SplitOut & Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitOut & Parse": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get base64 audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get base64 image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "text input": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "audio text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Sort & Reduce to one String",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If equal to last message": {
      "main": [
        [
          {
            "node": "delete tail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort & Reduce to one String": {
      "main": [
        [
          {
            "node": "User message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image text": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "audio text": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get base64 audio": {
      "main": [
        [
          {
            "node": "to audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "to image file": {
      "main": [
        [
          {
            "node": "describe image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "describe image": {
      "main": [
        [
          {
            "node": "image text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get base64 image": {
      "main": [
        [
          {
            "node": "to image file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "to audio file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp": {
      "main": [
        [
          {
            "node": "normalized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send answer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send answer1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Split answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Send audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send image": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send audio1": {
      "main": [
        [
          {
            "node": "Set Status to Auth to Send Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split answer": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse answer": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Order Status": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Order Status": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wompi": {
      "main": [
        [
          {
            "node": "Payment Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Info": {
      "main": [
        [
          {
            "node": "Channel Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Thankyou Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send answer2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send answer": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send answer2": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Send image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "text input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thankyou Msg": {
      "main": [
        [
          {
            "node": "Send answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Send warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send warning": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Channel Link": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Set Status to Pending",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Status to Onboarding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d56b432b-57be-46c3-8abd-ca57e4b7cc87",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "477c07c3b197c01d45fc4f359fe8b6634f8c51a5c856e9ed5b49fcbc08d0d88e"
  },
  "id": "gFrIv0ZzJyR6r2Ha",
  "tags": [
    {
      "updatedAt": "2026-02-16T15:25:36.561Z",
      "createdAt": "2026-02-16T15:25:36.561Z",
      "id": "rb1C1tAU446RjJBB",
      "name": "v1"
    }
  ]
}